*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;  
  color: white;
}
body {
  background-color: #121212 !important;
}
:root {
  --primary_color: #BB86FC;
  --accent_color: #7C34D5;
  --white: #FFFFFF;
  --black_unactive: #5E5E5E;
  --red: #F24848;

}
.blanco {
  color: var(--white);
} .encabezadoSize {
  font-size: 2rem;
}
.btnVioletaRedondo {
  background-color: var(--accent_color);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
}
.prueba {
  padding-bottom: 2px;
  border-style:solid;
  border-color: purple;
}